<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keke.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.keke.domain.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>

  <resultMap id="BaseResultMappp" type="com.keke.domain.OrderProduct">
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>

  <sql id="Base_Column_List">
    product_id, product_name, price, product_count, user_id, cover_img, intro, category,
    img
  </sql>

  <update id="updateCount" parameterType="java.lang.Integer">
    update product set product_count = product_count + 1 where product_id =#{productId,jdbcType=INTEGER}
  </update>

  <select id="selectProductsByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="getProductNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    count(*)
    from product
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectProductsByCategory" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where category = #{category,jdbcType=VARCHAR}
  </select>

  <select id="selectAllProducts" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
  </select>

  <select id="orderProducts" parameterType="java.lang.Integer" resultMap="BaseResultMappp">
    select product.product_name,product.cover_img,product.price,order_detail.num from order_detail, product where order_detail.product_id = product.product_id and order_detail.order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <select id="selectZeroProducts" resultType="java.lang.Integer">
    select
    count(*)
    from product
    where product_count = 0
  </select>

  <select id="searchProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where product_name like concat(concat('%',#{word}),'%')
  </select>

  <select id="selectProductById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where product_id =#{productId,jdbcType=INTEGER}
  </select>

  <delete id="deleteProduct" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>

  <insert id="insertProduct" parameterType="com.keke.domain.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        product_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="coverImg != null">
        cover_img,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="coverImg != null">
        #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateProduct" parameterType="com.keke.domain.Product">
    update product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="coverImg != null">
        cover_img = #{coverImg,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

</mapper>
