<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keke.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.keke.domain.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="identify" jdbcType="INTEGER" property="identify" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, identify, phone_number, intro, sex
  </sql>

  <select id="selectUser"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

  <select id="selectUserById"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectUserByUsername"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectAllCustoms" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where identify = 2
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insertUser" parameterType="com.keke.domain.User">
    insert into user (username, password,
      identify, phone_number, intro,
      sex)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{identify,jdbcType=INTEGER}, #{phoneNumber,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR})
  </insert>

  <update id="updateUserById" parameterType="com.keke.domain.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="identify != null">
        identify = #{identify,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

</mapper>
